<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pacientes-lista']">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profissionais-lista']">Medicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/consultas-lista']">Consultas</a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link btn btn-danger text-white px-3 py-2 logout-link" [routerLink]="['/login']">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
