<div class="container py-5">
  <div class="row mb-4">
    <div class="col-lg-10 col-md-12 mx-auto d-flex justify-content-between align-items-center gap-3 flex-wrap">
      <div>
        <p class="agenda-label mb-2">Agenda do profissional</p>
        <h1 class="mb-1">{{ nomeProfissional }}</h1>
        <p class="text-muted mb-0">
          Pacientes vinculados aos agendamentos deste profissional.
        </p>
      </div>

      <button type="button" class="btn btn-success" [routerLink]="['/consultas-lista']">
        Voltar
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
      <div *ngIf="carregando" class="agenda-feedback">
        Carregando pacientes...
      </div>

      <div *ngIf="!carregando && errorMessage" class="agenda-feedback agenda-feedback-error">
        {{ errorMessage }}
      </div>

      <div *ngIf="!carregando && !errorMessage" class="table-responsive">
        <table *ngIf="agenda.length > 0; else semPacientes" class="table table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th class="ps-4">Paciente ID</th>
              <th>Paciente</th>
              <th>Data</th>
              <th>Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of agenda" class="border-bottom">
              <td class="ps-4 fw-500">#{{ item.pacienteId }}</td>
              <td>{{ item.nomePaciente }}</td>
              <td>{{ item.data | date:'dd/MM/yyyy' }}</td>
              <td>{{ item.hora.substring(0, 5) }}</td>
            </tr>
          </tbody>
        </table>

        <ng-template #semPacientes>
          <div class="agenda-feedback">
            Nenhum paciente encontrado para este profissional.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
