<div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-10 col-md-12 mx-auto d-flex justify-content-between align-items-center">
            <h1 class="mb-0">Pacientes</h1>
            <button type="button" class="btn btn-primary" [routerLink]="['/paciente-novo']">
                <i class="bi bi-plus-circle"></i> Novo Paciente
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th class="ps-4">Nome</th>
                            <th>CPF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientes" class="border-bottom">
                            <td class="ps-4 fw-500">{{paciente.nome}}</td>
                            <td>{{ paciente.cpf | mask:"000.000.000-00"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>